extends ../layout  

block content
  //Titulo
  section.banner-create-section
    .container
      h1.text-black.mb-4.text-uppercase.font-weight-bolder Nueva Bicicleta
      a.btn.btn-primary.js-scroll-trigger.font-weight-bolder(href='/bicycles') Página anterior

  //Agregar bicicleta
  section
    .container
      br
      form(action='/bicycles/create' method='post')
        .form-group
          label.font-weight-bolder(for='id') # Id
          input#id.form-control(type='text' name='id')
        .form-group
          label.font-weight-bolder(for='color') Color
          select#color.form-control(type='text' name='color')
            option Seleccione una opción
            option Amarillo
            option Azul
            option Rojo
            option Naranja
            option Verde
        .form-group
          label.font-weight-bolder(for='model') Modelo
          select#model.form-control(type='text' name='model')
            option Seleccione una opción
            option Híbrida
            option Montaña
            option Plegable
            option Ruta
            option Urbana
        .form-group
          label.font-weight-bolder(for='lat') Latitud
          input#lat.form-control(type='text' name='lat')
        .form-group
          label.font-weight-bolder(for='lng') Longitud
          input#lng.form-control(type='text' name='lng')
        input.font-weight-bolder.btn.btn-primary.js-scroll-trigger(type='submit' value='Agregar bicicleta')
